.contactus {
  text-align: center;
  font-size: 0.875em;
}
.contactus ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

.contactus li {
  list-style-type: none;
  text-decoration: none;
  display: list-item;
}

.sexyline {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(#000),
    to(#fff)
  );
}

.shareButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fb-like {
  display: table-row;
}

#twitter-widget-0 {
  vertical-align: top;
  margin-left: 4px;
}

.footerIcons {
  margin: 10px 20px;
}

/********************************************************************************/
/* Media Queries - mobile devices smaller than 1024px and various pixel ratios */
/******************************************************************************/

@media only screen and (max-device-width: 1024px),
  only screen and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 4),
  only screen and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 3),
  only screen and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  html,
  body {
    padding-top: 60px;
    margin: 0 auto;
  }

  #section1blog {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  #blog {
    padding: 0;
    margin: 45px 30px 75px 30px;
    text-align: center;
  }

  #blog2 {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  table {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: none;
    border: none;
    background: #eee;
  }

  #contactus li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
  }

  #formFormat {
    text-align: left;
  }

  #homeImage {
    margin: 10px auto;
    height: 250px;
    width: 250px;
  }

  #blog2 {
    margin-top: 30px;
  }

  .container,
  .jumbotron {
    text-align: center;
  }

  .sectionHeading img.center,
  .sectionHeading2 img.center {
    width: 280px;
    height: auto;
  }

  .sectionHeading img.center,
  .sectionHeading2 img.center {
    width: 250px;
    height: auto;
  }

  .animateText p {
    position: relative;
    top: 2px;
    animation: fadeUpInMobile 3s;
    -webkit-animation: fadeUpInMobile 3s;
    -moz-animation: fadeUpInMobile 3s; /* Safari and Chrome */
  }

  #mobileNav li {
    box-sizing: content-box;
    height: auto;
  }

  #mobileNav.dropdown-menu li {
    box-sizing: content-box;
    height: auto;
  }

  #mobileDialog {
    width: 90%;
  }

  .sexyline {
    width: 75%;
    margin: 5px auto;
  }
}

@keyframes fadeUpIn /* Safari and Chrome */ {
  from {
    opacity: 0;
    top: 170px;
  }
  to {
    opacity: 1;
    top: 90px;
  }
}

@keyframes fadeUpInMobile {
  from {
    opacity: 0;
    top: 95px;
  }
  to {
    opacity: 1;
    top: 5px;
  }
}
