.container .jumbotron {
	text-align: center;
	}

    .sectionheading {
	
        text-align: center;
        padding: 50px auto;
    }
    
    .sectionHeading h2 {
        color: black;
        font-size: 2.5rem;
    }

    .center {
        display: block;
        margin: 20px auto;
    }

    .sectionHeading img.center, .sectionHeading2 img.center {
        width: 280px;
        height: auto;
    }

 .sectionHeading .img-quals {
        width: 125px;
        height: 125px;
    }

    table {
        border-collapse: collapse;
        background: white;
        border: 1px solid grey;
        box-shadow: 10px 10px 5px #888888;
        border-spacing: 5px;
        margin-top: 25px;
        margin-right: auto;
        margin-left: auto;
        
    }
    
    th, td {
        font-size: 15px;
        text-align: center;
        padding: 15px;
    }
    
.img-quals {
    max-width: 100%;
    height: auto;
}