

.boxFrame {

	transition: all .35s ease-in-out;
    text-align: center;

}

.boxFrame:hover  {
		transform: background-color 3s ease-in border-radius 3s ease-in;
		border-radius: 20px;
		background-color: #C1C1C1;
		color: white;
		cursor: pointer;
		
}

.boxFrame a:hover {
	text-decoration: none;

}